node_modules

# Ausgabe
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Betriebssystem
.DS_Store
Thumbs.db

# Umgebung
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
